<html></html>
<head>
  <title>Pokedex</title>
  <link href="<%= url("stylesheets/bootstrap.min.css") %>" rel="stylesheet" type="text/css"></link>
  <link href="<%= url('stylesheets/custom.css') %>" rel="stylesheet" type="text/css"></link>
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
<script src="<%= url('javascripts/jquery-3.4.1.min.js') %>"></script>
<script src="<%= url('javascripts/main.js') %>"></script>
